.item-body {
  display: inline-block;
}

.item-delete {
  display: inline-block;
  float: right;
}

.item-field {
  display: block;
}

.item-label {
  display: inline-block;
  width: 100px;
}

.item-value {
  display: inline-block;
}
